body {
  background: #f7f7f7;
  font-family: 'Lato',sans-serif;
}

.container {
  display: flex;
  width: 900px;
}

.sidebar {
  width: 250px;
  margin-right: 100px;
}

.mainSection {
  flex-grow: 1;
}
